@import "../../sass/variable.scss";

.searchArea {
  display: flex;
  justify-content: center;
  .searchAreaInput {
    border-radius: 40px;
    margin: 0 auto;
    background-color: #fff;
    height: 50px;
    width: 300px;
    border: 2px solid $inputBorder;
    outline: none;
    padding: 0 2rem;
    font-size: 2rem;
    &::placeholder {
      color: $placeHolder;
    }
  }
}
